.App {
    /*position: relative;*/
    /*background-color: red;*/
}

body {
    background-color: lavenderblush;
}

.company {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.catalog {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: dimgray;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    text-align: left;
    justify-content: left;
}

.callmaster {
    position: absolute;
    top: 200px;
    right: 50px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    user-select: none;
}

.callback {
    position: absolute;
    top: 20px;
    right: 350px;
    padding: 10px;
    border: 2px solid;
    user-select: none;
}

.call-boss {
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 10px;
    border: 2px solid;
    user-select: none;
}

.feedback {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

}

.button {
    background-color: lightslategray;
    font-size: calc(10px + 2vmin);
}

.description {
    margin-left: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    user-select: none;
}

.reviews {
    background-color: lightslategray;
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    text-align: left;
    justify-content: left;

}

.footer {
    font-size: calc(10px + 2vmin);
    flex-direction: column;
    text-align: left;
    justify-content: left;


}

.App-logo {
    height: 60vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: papayawhip;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
